<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | prepend: 'images/' | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | prepend: 'images/' | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | prepend: 'images/' | absolute_url }}">
<!--<link rel="manifest" href="{{ 'site.webmanifest' | prepend: '/assets/images/' | absolute_url }}">-->
<link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | prepend: 'images/' | absolute_url }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Fork me / contribute on GitHub ribbon -->
<link rel="stylesheet" href="{{ "/assets/css/gh-fork-ribbon.css" | relative_url}}" />
<!--[if lt IE 9]>
  <link rel="stylesheet" href="/css/gh-fork-ribbon.ie.css" />
<![endif]-->
<style>
    /* DXC Black */
    .github-fork-ribbon.left-top:before {
        background-color: #000000;
    }
</style>
<!-- end custom head snippets -->
