---
layout: single
title: Contact Us
description: BES Contact Us
permalink: /contact
classes: wide
sidebar:
  nav: "sidenav"
---








<section id="contact-a-human" class="bg-gray-light">

  <div class="container-lg p-responsive py-5 py-md-6 text-center">
    <span class="text-center">
      <img src="https://github.dxc.com/pages/Global-BES/BES/images/Collection-teamwork.png" alt="BES Team" style="width:230px;height:120px;" >
    </span>

    <h3 class="alt-h2 mb-4">Talk to a human</h3>

    <p>Email <a href="mailto:bes-sales-support@dxc.com">bes-sales-support@dxc.com</a> to reach the Business Exchange Services (BES) B2B Solutions Consultants.</p>

    <p>Contact the Business Exchange Services <a href="https://github.dxc.com/pages/Global-BES/BES/bescontacts/">Sales Delivery Team</a></p>

    <p><a href="https://dxc.facebook.com/groups/877660875729767/">Post a question</a> in the BES community to get additional feedback from BES team members.</p>

  </div>

</section>

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
