---
layout: single
classes: wide
sidebar:
  nav: sidenav
feature_row:
  - image_path: images/BESAutomotive.png
    alt: "BES Automotive"
    title: "Automotive Industry<br>Experience"
    excerpt: "Business Exchange Services (BES) supports more than 2,000 EDI translations (maps) for automotive clients, including all common translations from/to Odette, VDA, EDIFACT, ANSI X.12, XML and others​."
    url: "/automo/"
    btn_class: "btn--primary"
    btn_label: "Get Rolling"
  - image_path: images/BESEnergy.png
    alt: "BES Energy"
    title: "BES Energy<br>Client Spotlight"
    excerpt: "BES Energy provided UK smart meters that allowed consumers better information on energy usage encouraging energy efficiency and helping ensure the supply of energy is secure, affordable, efficient and sustainable."
    url: "/energy/"
    btn_class: "btn--primary"
    btn_label: "Get Connected"
  - image_path: images/BESManf.png
    alt: "BES Manufacturing"
    title: "Manufacturing Industry<br>Experience"
    excerpt: "Business Exchange Services (BES) supports more than 1,750 clients and 160,000 trading partners globally and processes more than 3 billion transactions per year. BES has more than 25 years of EDI and trading community integration experience."
    url: "/manuf/"
    btn_class: "btn--primary"
    btn_label: "Get Started"
---

<style>
  .page {
    padding-right: 30px; /*DXC Customization - override content padding for main page*/
  }
</style>
<link rel="stylesheet" href="ism/css/my-slider.css" />
<script src="ism/js/ism-2.2.min.js"></script>

<div class="ism-slider" data-buttons="false" id="my-slider">
  <ol>
    <li>
      <img src="images/slider-BES1.png">
      <a class="ism-caption ism-caption-0" href="{{"/besoverview/" | relative_url}}" target="_self" data-delay='900'>Overview</a>
    </li>
    <li>
      <img src="images/Slider-BES4_MFT.png">
      <a class="ism-caption ism-caption-0" href="{{"/mftservices/" | relative_url}}" target="_self" data-delay='900'>Discover</a>
    </li>
    <li>
      <img src="images/Slider-BES6_SeeBur.png">
      <a class="ism-caption ism-caption-0" href="{{"/seeburger/" | relative_url}}" target="_self" data-delay='900'>Learn More</a>
    </li>
  </ol>
</div>

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
