---
layout: single
permalink: /
classes: wide
sidebar:
  nav: "sidenav"
feature_row:
  - image_path: images/BESAutomotive.png    
---

<style>
  .page {
    padding-right: 30px; /*DXC Customization - override content padding for main page*/
  }
</style>
<link rel="stylesheet" href="ism/css/my-slider.css" />
<script src="ism/js/ism-2.2.min.js"></script>

<div class="ism-slider" data-buttons="false" id="my-slider">
  <ol>
    <li>
      <img src="images/slider-BES1.png">
      <a class="ism-caption ism-caption-0" href="{{"/besoverview/" | relative_url}}" target="_self" data-delay='900'>Overview</a>
    </li>
    <li>
      <img src="images/Slider-BES4_MFT.png">
      <a class="ism-caption ism-caption-0" href="{{"/mftservices/" | relative_url}}" target="_self" data-delay='900'>Discover</a>
    </li>
    <li>
      <img src="images/Slider-BES6_SeeBur.png">
      <a class="ism-caption ism-caption-0" href="{{"/seeburger/" | relative_url}}" target="_self" data-delay='900'>Learn More</a>
    </li>
  </ol>
</div>

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
