/* ==========================================================================
   Contrast skin
   ========================================================================== */

/* Colors */
$text-color: #000000 !default; /*DXC customization - changed from #000*/
$muted-text-color: $text-color !default;
$primary-color: #7a8288 !default; /*DXC customization - changed from #ff0000*/
$border-color: mix(#fff, $text-color, 75%) !default;
$footer-background-color: #000 !default;
$link-color: #656565 !default; /*DXC customization - changed from #0000ff*/
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

/* contrast syntax highlighting (base16) */
$base00: #000000 !default;
$base01: #242422 !default;
$base02: #484844 !default;
$base03: #6c6c66 !default;
$base04: #918f88 !default;
$base05: #b5b3aa !default;
$base06: #d9d7cc !default;
$base07: #fdfbee !default;
$base08: #ff6c60 !default;
$base09: #e9c062 !default;
$base0a: #ffffb6 !default;
$base0b: #a8ff60 !default;
$base0c: #c6c5fe !default;
$base0d: #96cbfe !default;
$base0e: #ff73fd !default;
$base0f: #b18a3d !default;

.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    color: $text-color;
  }
}

.page__footer {
  color: #fff !important; // override
}


/*remove underline from links*/
  a {
    text-decoration: none;
    font-weight: bold;
  }
/*add to control heading space*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.5em;
  line-height: 1.2;
  font-weight: bold;
}
